
.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	
	padding-top: 120px;
}

.projects-title{
	position: relative;
	
}
.projects-title::before{
	content: '';
	position:absolute;
	top:0;
	right:0;
	width:110%;
	height:110%;
	background:#081B29;
	animation: showRight 1s ease forwards;
	animation-delay: .4s;
}



@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */



@keyframes lights {
	0% {
	  color: hsl(230, 40%, 80%);
	  text-shadow:
		0 0 1em hsla(320, 100%, 50%, 0.2),
		0 0 0.125em hsla(320, 100%, 60%, 0.3),
		-1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
		1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
	}
	
	30% { 
	  color: hsl(230, 80%, 90%);
	  text-shadow:
		0 0 1em hsla(320, 100%, 50%, 0.5),
		0 0 0.125em hsla(320, 100%, 60%, 0.5),
		-0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
		0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
	}
	
	40% { 
	  color: hsl(230, 100%, 95%);
	  text-shadow:
		0 0 1em hsla(320, 100%, 50%, 0.5),
		0 0 0.125em hsla(320, 100%, 90%, 0.5),
		-0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
		0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
	}
	
	70% {
	  color: hsl(230, 80%, 90%);
	  text-shadow:
		0 0 1em hsla(320, 100%, 50%, 0.5),
		0 0 0.125em hsla(320, 100%, 60%, 0.5),
		0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
		-0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
	}
	
	100% {
	  color: hsl(230, 40%, 80%);
	  text-shadow:
		0 0 1em hsla(320, 100%, 50%, 0.2),
		0 0 0.125em hsla(320, 100%, 60%, 0.3),
		1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
		-1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
	}
	
  }
  
  
h2{

	font-size: 3.5rem;
	font-weight: 300;
	animation: lights 5s 750ms linear infinite;
	display: flex;
	
	 align-items: center;
	 justify-content: center;
	 margin-left:35%;
  }